
@media (min-width:1275px){
body{
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
  background-image: url(../image/fondecran.jpg)
}
/* Bar de naviation */
.navbar {
width: 100%;
background-color: #000;
overflow: auto;
}

.navbar a {
float: right;
padding: 6px;
color: white;
text-decoration: none;
font-size: 17px;
font-size: 150%
}

.navbar a:hover {
background-color: #555;
}
/*Suppression espace pour version mobile*/
.OrdiOnly{display:block !important;}
.TelOnly{display:none;}
.zoom {

height:auto;
}
.zoome {

height:;
}
.zoome p {
  text-align:center;
}
.zoome img {
  width:210px;
  height:300px;
}
.zoome img:hover {
  width:410px;
  height:500px;

}

h1{
  position: relative;
  text-align: center;
}
h2{
  position: relative;
  text-align: center;
  font-size: 3em
}
h3{
  color: snow;
  text-align: center;
}
#titrebar{
  color: snow;
  position: relative;
  text-align: center
}
#logo{
position:absolute;
top: -40px;
left:-20px;
}
#intro{
  position: relative;
  text-align: left;
}

.div1{
  font-family: Georgia, serif;
  position: relative;
  background-color: black;
  padding: 20px 20px
}

.div2{

  background-color: snow;
  width: auto;
  height: 4100px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  margin: 52px;
}

.bd1{
  float:left;
    margin:2px 5px 5px 0;
}
.livre1{
  display:table;
  margin:50px 0px 0px 10px;
}


.resume{text-decoration: underline}

.div3{
  position: absolute;
  background: linear-gradient(white,#537FA4,#925893);
  width: 40%;
  padding: 2px;
  margin: 30px
}
.div4{
  position: relative;
  float: right;
  background: linear-gradient(#E77C29,#E0B2A5);
  width: 45%;
  padding: 2px;
  margin: 30px;
}
.divb5{
  position: relative;
  float: left;
  background: linear-gradient(#8ec8ee,#b1d689);
  width: 38%;
  padding: 2px;
  margin: 30px;
}
.div6{
position: relative;
float: right;
background: linear-gradient(#536fb7,#14765f);
width: 38%;
padding: 2px;
margin: 30px ;
}
.div7{
position: relative ;
float:left;
top: auto;
left:0%;
background: linear-gradient(#00a08b,#5bb497);
width: 50%;
padding: 2px;
margin: 30px ;

}
.div8{
  color: #A5A19D  ;
position: relative;
float: left;
background: linear-gradient(#1B1918,#785133);
width: 42%;
padding: 2px;
margin: 30px ;
}
.div9{
position: relative;
float: right;
background: linear-gradient(#9F4949,#2C5E37 ,#292828 );
width: 45%;
padding: 2px;
margin: 30px ;
}
.div10{
position: relative;
float: left;
background: linear-gradient(#F9507E, #A00852 );
width: 38%;
padding: 2px;
margin: 30px ;
}
.div11{
position: relative;
float: right;
background: linear-gradient(to right, white,#890C0C);
width: 38%;
padding: 2px;
margin: 30px ;
}
.div12{
position: relative;
float: right;
background: linear-gradient(black, white, #DA392F);
width: 50%;
right: 20%;
padding: 2px;
margin: 30px ;
}
.divf{
  font-family: Georgia, serif;
  position: relative;
  background-color: black;
  padding: 20px 20px
}
.Fin{color: snow;
text-align: center;}
}
/* PAGE SUPPLEMANTAIRE */
.divb{
  background-color: snow;
  width: auto;
  height: 1000px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  margin: 52px;
}
.divp1{
  position: relative;
  float: right;
  background: linear-gradient(white,#537FA4,#925893);
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px ;
}
.divp2{
  position: relative;
  float: right;
  background: linear-gradient(#E77C29,#E0B2A5);
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;
}
.divp3{
  position: relative;
  float: right;
  background: linear-gradient(#8ec8ee,#b1d689);
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;

}
.divp4{
  position: relative;
  float: right;
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;
  background: linear-gradient(#536fb7,#14765f);
}
.divp5{
  position: relative;
  float: right;
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;
background: linear-gradient(#00a08b,#5bb497);
}
.divp6{
  position: relative;
  float: right;
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;
background: linear-gradient(#1B1918,#785133);
}
.divp7{
  position: relative;
  float: right;
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;
background: linear-gradient(#9F4949,#2C5E37); }
}
.divp8{
  position: relative;
  float: right;
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;
background: linear-gradient(#F9507E, #A00852 ); }
.divp9{
  position: relative;
  float: right;
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;
background: linear-gradient(to right, white,#890C0C); }
.divp10{
  position: relative;
  float: right;
  width: 80%;
  right: 10%;
  padding: 2px;
  margin: 30px;
background: linear-gradient(black, white, #DA392F); }
}


/*Version Mobile/Téléphone*/
@media screen and (min-width: 320px)and (max-width:1275px){

  .telOnly{
    display:block !important;

  }
  body{
    margin: 0px;
    margin-right: 0px;
    padding: 0px;
    padding-right: 0px;
    font-family: "Gill Sans", sans-serif;
  }
  .navbar a {
  float: right;
  padding: 6px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-size: 150%
  }

  .navbar a:hover {
  background-color: #555;
  }
  .OrdiOnly{display:none;}
  .div1{
    font-family: Georgia, serif;
    position: relative;
    background-color: black;
    padding: 20px 20px;
    height:200px;
  }
  #titrebar{
    color: snow;
    position: relative;
    text-align: center;
  }
  #logo{
  position:relative;
  float:left;
  top: -10px

  }
  #intro{
    position: relative;
    text-align: left;
  }
  .div3{
    position: relative;
    width:auto;
    background: linear-gradient(white,#537FA4,#925893);
      border: 10px solid gray;
    padding: 0px;
  }
  .div4{
    position: relative;
    background: linear-gradient(#E77C29,#E0B2A5);
      border: 10px solid gray;
    width: auto;
  }

    .div5{
      position: relative;
      background: linear-gradient(#8ec8ee,#b1d689);
      width: auto;
        border: 10px solid gray;
      padding: 0px
    }
  .div6{
  position: relative;
  background: linear-gradient(#536fb7,#14765f);
    border: 10px solid gray;
  width: auto;
  }
  .div7{
  position: relative ;
  background: linear-gradient(#00a08b,#5bb497);
  border: 10px solid gray;
  width: auto;

  }
  .div8{
    color: #A5A19D  ;
  position: relative;
  background: linear-gradient(#1B1918,#785133);
  border: 10px solid gray;
  width: auto;
  }
  .div9{
  position: relative;
  background: linear-gradient(#9F4949,#2C5E37 ,#292828 );
  border: 10px solid gray;
  width: 100%;
  }
  .div10{
  position: relative;
  background: linear-gradient(#F9507E, #A00852 );
    border: 10px solid gray;
  width: auto;

  }
  .div11{
  position: relative;
  background: linear-gradient(to right, white,#890C0C);
    border: 10px solid gray;
  width: auto;
  }
  .div12{
  position: relative;
  background: linear-gradient(black, white, #DA392F);
  border: 10px solid gray;
  border-bottom: 20px solid white;
  width: auto;
  }
  .divf{
    font-family: Georgia, serif;
    position: relative;
    background-color: black;
    padding: 20px 20px
  }
  .Fin{
    color: snow;
  text-align: center;}
  h3{
    color: snow;
    text-align: center;
  }
  .divp1{
    position: relative;
    width:auto;
    background: linear-gradient(white,#537FA4,#925893);
      border: 10px solid gray;
        width: auto;
  }
  .divp2{
    position: relative;
    background: linear-gradient(#E77C29,#E0B2A5);
      border: 10px solid gray;
    width: auto;
  }

  .divp3{
    position: relative;
    width: auto;
      border: 10px solid gray;
    background: linear-gradient(#8ec8ee,#b1d689);
  }
  .divp4{
  position: relative;
  background: linear-gradient(#536fb7,#14765f);
    border: 10px solid gray;
  width: auto;
  }
  .divp5{
  position: relative ;
  background: linear-gradient(#00a08b,#5bb497);
  border: 10px solid gray;
  width: auto;

  }
  .divp6{
  position: relative ;
  background: linear-gradient(#1B1918,#785133);
  border: 10px solid gray;
  width: auto;

  }
  .divp7{
  position: relative ;
  background: linear-gradient(#9F4949,#2C5E37 ,#292828 );
  border: 10px solid gray;
  width: auto;

  }
  .divp8{background: linear-gradient(#F9507E, #A00852 );
  position: relative ;
  border: 10px solid gray;
  width: auto;
  }
  .dip9{
  position: relative ;
  border: 10px solid gray;
  width: auto;
  background: linear-gradient(to right, white,#890C0C);

  }

  .dip10{
  position: relative ;
  border: 10px solid gray;
  width: auto;
  background: linear-gradient(black, white, #DA392F);
  }
